#projects {
  text-align: center;
}

.tab-buttons-container {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin-bottom: 20px; /* Optional: Add margin to separate from Tabs */
}

.tab-buttons-list {
  list-style-type: none; /* Remove default list styles */
  display: flex;
  flex-direction: row; /* Stack items horizontally */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.tab-buttons-list li {
  margin-right: 10px; /* Optional: Adjust spacing between buttons */
}

.tab-content a {
  color: black;
}

.tab-content a:hover {
  color: #007bff;
}

.description {
  text-align: center;
}
